.footer{
  background-color: #000;
  color: rgba(255,255,255,.5);
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

a {
  text-decoration: none;
  color: unset;
}
